/vendor/
/storage/logs/
/storage/reports/
/storage/keys/

.env
config.local.php

*.log
.DS_Store

composer.lock
package-lock.json

# Ignorar todos los SQL
database/*.sql

# Excepto el script oficial del proyecto
!database/rokola_ritmopty.sql

*.zip